{{ define "main" }}
<style>
  @media screen and (max-width: 56rem) {
    #headerbox{
     margin-top: 40px;
    }
  }
  h2 {
    margin: 0px;
    overflow: hidden;
    max-width: 300px;
  }
</style>
    <div id="headerbox">
      <h1 class="title">Posts Archive</h1>
      <h1 class="emoji">🧶</h1>
    </div>
    <div style="display: flex; flex-wrap: wrap; flex-direction: columns;">
  {{ range sort .Paginator.Pages }}
  <article class="markdown book-post" style= "

  min-width: 45%;
  object-fit:cover;
  background-color: var(--gray-100);
  background-size: auto;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;

  ">
    <h2 style= "margin: 0px;">
      <a style="color: var(--body-font-color);" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ partial "docs/post-meta" . }}
  </article>
  {{ end }}
 </div>
{{ template "_internal/pagination.html" . }}
{{ end }}
{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
